doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title FEWD | Course Mgmt
    body
        h1 FEWD Course Mgmt
        form(action='/github/user', method='get')
            input(type='text', name='username')
            input(type='submit')
        script(src='js/build/bundle.js')
